.blog-hero {
  .container {
    padding: 50px 0 0;
    width: 1180px;
    margin: 0 auto;
  }

  &__title {
    font-size: 64px;
    font-weight: 500;
    color: #000a18;
  }
}

.blog-latest {
  .container {
    padding: 29px 0 0;
    width: 1180px;
    margin: 0 auto 113px;
  }

  &__card {
    display: flex;
    gap: 20px;
  }

  &__image {
    flex: 0 0 580px;
    border-radius: 10px;
    background: #fff;
    overflow: hidden;
    height: 380px;
  }

  &__meta {
    display: flex;
    justify-content: space-between;
    margin-bottom: 31px;
  }

  &__category {
    background: #9e9e9e;
    border-radius: 4px;
    color: #fff;
    text-transform: uppercase;
    font-size: 11px;
    padding: 4px 8px 0;
    height: 23px;

    &--blue {
      background: #0094ff;
    }
    &--green {
      background: #00c853;
    }
    &--purple {
      background: #8a6aff;
    }
    &--grey {
      background: #9e9e9e;
    }
  }

  &__date {
    font-size: 12px;
    margin-top: -1px;
    text-transform: uppercase;
  }

  &__title {
    a {
      color: #000a18;
      font-size: 36px;
      font-weight: 500;
      line-height: 1.35;
    }
  }

  &__excerpt {
    font-size: 16px;
    padding-top: 20px;
    line-height: 1.45;
    height: 185px;
    overflow: hidden;
    margin-bottom: 26px;
  }

  &__link {
    display: inline-block;
    position: relative;
    padding: 0px 0 0 27px;
    color: #000a18;
    font-weight: 500;

    &:before {
      content: '';
      display: block;
      position: absolute;
      width: 8px;
      height: 8px;
      border-radius: 10px;
      background: #0094ff;
      top: 8px;
      left: 4px;
    }
  }
}

.blog-tabs {
  .container {
    margin: 0 auto 41px;
    width: 1180px;
  }

  &__list {
    display: inline-block;
    padding: 15px 18px;
    background: #fff;
    border-radius: 8px;
  }

  &__tab {
    display: inline-block;
    padding: 2px 9px 1px;
    font-size: 14px;
    border-radius: 4px;
    margin-left: 15px;
    color: #495b75;

    &:first-child {
      margin-left: 0;
    }

    &--active {
      background: #000;
      color: #fff;
    }
  }
}

.blog-grid-section {
  .container {
    width: 1180px;
    margin: 0 auto;
    padding-bottom: 79px;
  }

  .blog-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 80px;
  }

  .blog-card {
    width: calc(33.3334% - 13px);
    margin-bottom: 40px;

    &__placeholder {
      width: 100%;
      height: 200px;
      margin-bottom: 15px;
      background: #fff;
      border-radius: 10px;
      overflow: hidden;
    }

    &__image {
      width: 100%;
      height: 200px;
      margin-bottom: 15px;
      border-radius: 10px;
      display: block;
      overflow: hidden;

      img {
        width: auto;
        border-radius: 10px;
      }
    }

    &__meta {
      display: flex;
      justify-content: space-between;
      margin-bottom: 16px;
    }

    &__category {
      border-radius: 4px;
      color: #fff;
      text-transform: uppercase;
      font-size: 13px;
      padding: 2px 8px 1px;
      display: inline-block;

      &--blue {
        background: #0094ff;
      }
      &--green {
        background: #00c853;
      }
      &--purple {
        background: #8a6aff;
      }
      &--grey {
        background: #9e9e9e;
      }
    }

    &__date {
      text-transform: uppercase;
      font-size: 13px;
      padding-top: 2px;
      padding-right: 9px;
    }

    &__title {
      a {
        color: #000a18;
        font-size: 20px;
        line-height: 1.4;
        font-weight: 500;
        display: block;
        margin-bottom: 4px;
      }
    }

    &__excerpt {
      font-size: 14px;
      font-weight: 500;
      line-height: 1.5;
      height: 45px;
      overflow: hidden;
      margin-bottom: 17px;
    }

    &__author {
      display: flex;
      align-items: center;
      gap: 8px;
      text-transform: capitalize;
      font-size: 14px;

      &-name {
        color: #000a18;
        position: relative;
        top: 1px;
      }
    }
  }
}

#page .single-post {
  .container {
    width: 1180px;
    margin: 0 auto;
    position: relative;
    padding-top: 100px;
  }

  .back-to-blog {
    position: absolute;
    top: 20px;
    left: 320px;
    color: #495b75;
    letter-spacing: -0.6px;

    svg {
      position: absolute;
      left: -16px;
      top: 5px;
    }
  }

  &__layout {
    display: flex;
    padding-bottom: 131px;
  }

  &__toc {
    flex: 0 0 300px;
  }

  .toc-title {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 18px;
  }

  .toc-nav {
    padding: 0 20px 0 0;
    font-size: 18px;
    border-left: 1px solid #d8e3eb;
  }

  .toc-wrapper {
    position: sticky;
    top: 120px;
    bottom: 60px;
  }

  .toc-link {
    padding: 9px 0 7px 20px;
    line-height: 1.4;
    font-size: 16px;
    font-weight: 500;
    max-width: 260px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    color: #495b75;
    margin-left: -1px;
    border-left: 1px solid transparent;

    &:hover {
      color: #0094ff;
      border-color: #0094ff;
    }

    &.active {
      color: #0094ff;
      border-color: #0094ff;
    }
  }

  &__content {
    padding-right: 300px;
  }

  &__meta {
    display: flex;
    justify-content: space-between;
    margin-bottom: 33px;
  }

  &__category {
    background: #0094ff;
    color: #fff;
    border-radius: 4px;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 1.25;
    padding: 5px 9px 0;
    font-weight: 500;
    letter-spacing: 0.5px;
    height: 23px;
    text-decoration: none;

    &--blue {
      background: #0094ff;
    }
    &--green {
      background: #00c853;
    }
    &--purple {
      background: #8a6aff;
    }
    &--grey {
      background: #9e9e9e;
    }
  }

  &__date {
    font-size: 12px;
    text-transform: uppercase;
    line-height: 1.25;
    font-weight: 500;
    padding: 1px 0 0;
  }

  &__title {
    font-size: 56px;
    line-height: 1.3;
    font-weight: 500;
    margin-bottom: 11px;
    color: #000a18;
  }

  &__body {
    line-height: 1.45;
    margin-bottom: 30px;

    p {
      margin-bottom: 14px;
    }

    .wp-block-image {
      padding-top: 17px;
      margin-bottom: 32px;
    }

    .wp-block-heading {
      font-size: 24px;
      line-height: 1.4;
      margin-bottom: 14px;
      font-weight: 500;
      color: #272838;
    }
  }

  &__author {
    display: flex;
    gap: 10px;
    border-bottom: 1px solid #d8e3eb;
    padding-bottom: 23px;

    .author-avatar {
      width: 36px;
      height: 36px;

      img {
        width: 100%;
        border-radius: 50%;
      }
    }

    .author-info {
      border-left: 1px solid #d8e3eb;
      padding: 0px 0 0 8px;
      line-height: 1;
      font-size: 16px;
      font-weight: 400;
      color: #000a18;
      font-family: 'Raleway';
    }
  }

  &__navigation {
    font-size: 14px;
    line-height: 1.25;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    padding: 25px 21px 0;

    .nav-prev {
      a {
        position: relative;
        color: #495b75;
      }

      svg {
        position: absolute;
        left: -17px;
      }
    }

    .nav-next {
      a {
        position: relative;
        color: #495b75;
      }

      svg {
        position: absolute;
        right: -17px;
        top: 1px;
      }
    }
  }

  .toc__for-mobile {
    display: none;
  }
}

@media screen and (max-width: 1199px) {
  .blog-hero {
    .container {
      width: auto;
      padding: 40px 15px;
    }

    &__title {
      font-size: 40px;
      line-height: 1.2;
    }
  }

  .blog-latest {
    .container {
      padding: 0 15px;
      width: auto;
      margin: 0 0 92px;
    }

    &__card {
      flex-direction: column;
    }

    &__image {
      flex: 0 0 auto;
      height: 342px;

      img {
        min-height: 100%;
        min-width: 100%;
      }
    }

    &__meta {
      margin-bottom: 17px;
    }

    &__title a {
      font-size: 24px;
      line-height: 1.35;
      display: block;
    }

    &__excerpt {
      padding-top: 11px;
      max-height: 175px;
      margin-bottom: 37px;
      height: auto;
    }
  }

  .blog-tabs {
    .container {
      width: auto;
      padding: 0 15px;
      margin: 0 0 29px;
    }

    &__list {
      padding-bottom: 0;
    }

    &__tab {
      margin-bottom: 20px;
      margin-left: 0;
      margin-right: 15px;
    }
  }

  .blog-grid-section {
    .container {
      width: auto;
      padding: 0 15px;
    }

    .blog-grid {
      justify-content: center;
      gap: 30px;
    }

    .blog-card {
      width: 380px;
      margin-bottom: 2px;
      max-width: 100%;
    }
  }

  #page .single-post {
    .container {
      width: auto;
      padding: 86px 15px 83px;
    }

    .back-to-blog {
      left: 36px;
      top: 20px;
    }

    &__layout {
      display: block;
      padding-bottom: 0;
    }

    &__toc {
      display: none;
    }

    &__content {
      padding: 0;
    }

    &__meta {
      margin-bottom: 24px;
    }

    &__title {
      font-size: 32px;
      line-height: 1.25;
    }

    &__body {
      .wp-block-image {
        padding-top: 9px;
      }

      .toc__for-mobile {
        display: block;
        margin-bottom: 23px;

        .toc-title {
          margin-bottom: 20px;
        }
      }

      .wp-block-heading {
        font-size: 20px;
        line-height: 1.35;
        margin-bottom: 13px;
      }
    }
  }

  .single-post .faq-section {
    .faq-item {
      padding: 20px 19px 17px;
    }

    .faq-item__icon {
      top: 20px;
    }
  }
}

@media screen and (max-width: 639px) {
  .blog-grid-section .blog-card__image img {
    min-height: 100%;
  }
}
