.blog-hero {
  .container {
    padding: 50px 0 0;
    width: 1180px;
    margin: 0 auto;
  }

  &__title {
    font-size: 64px;
    font-weight: 500;
    color: #000a18;
  }
}

.blog-latest {
  .container {
    padding: 29px 0 0;
    width: 1180px;
    margin: 0 auto 113px;
  }

  &__card {
    display: flex;
    gap: 20px;
  }

  &__image {
    flex: 0 0 580px;
    border-radius: 10px;
    background: #fff;
    overflow: hidden;
    height: 380px;
  }

  &__meta {
    display: flex;
    justify-content: space-between;
    margin-bottom: 31px;
  }

  &__category {
    background: #0094ff;
    border-radius: 4px;
    color: #fff;
    text-transform: uppercase;
    font-size: 11px;
    padding: 4px 8px 0;
    height: 23px;
  }

  &__date {
    font-size: 12px;
    margin-top: -1px;
    text-transform: uppercase;
  }

  &__title {
    a {
      color: #000a18;
      font-size: 36px;
      font-weight: 500;
      line-height: 1.35;
    }
  }

  &__excerpt {
    font-size: 16px;
    padding-top: 20px;
    line-height: 1.45;
    height: 185px;
    overflow: hidden;
    margin-bottom: 26px;
  }

  &__link {
    display: inline-block;
    position: relative;
    padding: 0px 0 0 27px;
    color: #000a18;
    font-weight: 500;

    &:before {
      content: '';
      display: block;
      position: absolute;
      width: 8px;
      height: 8px;
      border-radius: 10px;
      background: #0094ff;
      top: 8px;
      left: 4px;
    }
  }
}

.blog-tabs {
  .container {
    margin: 0 auto 41px;
    width: 1180px;
  }

  &__list {
    display: inline-block;
    padding: 15px 18px;
    background: #fff;
    border-radius: 8px;
  }

  &__tab {
    display: inline-block;
    padding: 2px 9px 1px;
    font-size: 14px;
    border-radius: 4px;
    margin-left: 15px;
    color: #495b75;

    &:first-child {
      margin-left: 0;
    }

    &--active {
      background: #000;
      color: #fff;
    }
  }
}

.blog-grid-section {
  .container {
    width: 1180px;
    margin: 0 auto;
    padding-bottom: 79px;
  }

  .blog-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .blog-card {
    width: calc(33.3334% - 13px);
    margin-bottom: 40px;

    &__placeholder {
      width: 100%;
      height: 200px;
      margin-bottom: 15px;
      background: #fff;
      border-radius: 10px;
    }

    &__meta {
      display: flex;
      justify-content: space-between;
      margin-bottom: 16px;
    }

    &__category {
      border-radius: 4px;
      color: #fff;
      text-transform: uppercase;
      font-size: 13px;
      padding: 2px 8px 1px;
      display: inline-block;

      &--blue {
        background: #0094ff;
      }

      &--green {
        background: #0094ff;
      }

      &--purple {
        background: #0094ff;
      }
    }

    &__date {
      text-transform: uppercase;
      font-size: 13px;
      padding-top: 2px;
      padding-right: 9px;
    }

    &__title {
      a {
        color: #000a18;
        font-size: 20px;
        line-height: 1.4;
        font-weight: 500;
        display: block;
        margin-bottom: 4px;
      }
    }

    &__excerpt {
      font-size: 14px;
      font-weight: 500;
      line-height: 1.5;
      height: 45px;
      overflow: hidden;
      margin-bottom: 17px;
    }

    &__author {
      display: flex;
      align-items: center;
      gap: 8px;
      text-transform: capitalize;
      font-size: 14px;

      &-name {
        color: #000a18;
        position: relative;
        top: 1px;
      }
    }
  }
}
