.careers-hero {
  .container {
    padding: 50px 0 0;
    width: 980px;
    margin: 0 auto;
  }

  &__title {
    text-align: center;
    font-size: 64px;
    font-weight: 500;
    color: #000a18;
  }

  &__text {
    text-align: center;
    width: 580px;
    margin: 0 auto;
    font-size: 18px;
    line-height: 1.59;
    color: #495b75;
  }
}

.jobs-section {
  .container {
    width: 980px;
    margin: 0 auto;
  }

  .jobs-list {
    padding-top: 38px;
  }

  .job-card {
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px;
    border-top: 1px solid #d8e3eb;
    padding-top: 29px;

    &:first-child {
      border-top: 0;
      padding-top: 0;
    }

    &__category {
      background: #eee;
      color: #fff;
      text-transform: uppercase;
      border-radius: 4px;
      padding: 6px 8px 5px;
      font-size: 12px;
      display: inline-block;
      line-height: 1;
      letter-spacing: 0.7px;
      margin-bottom: 17px;

      &--purple {
        background: #8a6aff;
      }

      &--blue {
        background: #0094ff;
      }

      &--green {
        background: #00c853;
      }
    }

    &__title {
      margin-bottom: 2px;

      a {
        color: #000a18;
        font-weight: 500;
      }
    }

    &__company {
      color: #495b75;
      font-size: 16px;
    }

    &__meta {
      position: relative;
    }

    &__applied {
      white-space: nowrap;
      position: relative;
      color: #495b75;
      font-size: 12px;
      display: inline-block;
      top: -4px;

      svg {
        position: absolute;
        left: -20px;
        top: 3px;
      }
    }

    &__apply {
      position: absolute;
      display: inline-block;
      padding: 0px 0 0 27px;
      color: #000a18;
      font-weight: 500;
      white-space: nowrap;
      right: 0;
      top: 70px;

      &:before {
        content: '';
        display: block;
        position: absolute;
        width: 8px;
        height: 8px;
        border-radius: 10px;
        background: #0094ff;
        top: 8px;
        left: 4px;
      }
    }
  }
}

.careers-page {
  padding-bottom: 120px;
}

.single-job-page {
  .container {
    margin: 0 auto;
    width: 1180px;
    padding: 49px 0 89px;
  }
}

.single-job-grid {
  display: flex;
  justify-content: space-between;

  .single-job-content {
    width: 580px;
  }

  .single-job-sidebar {
    width: 500px;
  }

  .single-job-title {
    font-weight: 500;
    font-size: 58px;
    margin-bottom: 28px;
    color: #000a18;
    white-space: nowrap;
  }

  .single-job-body {
    font-size: 16px;
    font-weight: 200;
    line-height: 1.5;
    font-family: 'Raleway';
    color: #495b75;

    h2 {
      font-weight: 500;
      font-size: 20px;
      margin-bottom: 16px;
      color: #000a18;
    }

    ul,
    p {
      margin-bottom: 30px;
    }

    li {
      padding-left: 25px;
      position: relative;

      &:before {
        content: '';
        position: absolute;
        width: 3px;
        height: 3px;
        background: #495b75;
        border-radius: 50%;
        left: 10px;
        top: 10px;
      }
    }
  }

  .single-job-meta {
    position: relative;
    float: right;
    padding: 8px 0 0;
    height: 123px;

    .single-job-applied {
      white-space: nowrap;
      position: relative;
      color: #495b75;
      font-size: 12px;
      display: inline-block;
      top: -4px;

      svg {
        position: absolute;
        left: -20px;
        top: 3px;
      }
    }
  }

  .single-job-category {
    position: absolute;
    background: #eee;
    color: #fff;
    text-transform: uppercase;
    border-radius: 4px;
    padding: 6px 8px 5px;
    font-size: 12px;
    display: inline-block;
    line-height: 1;
    letter-spacing: 0.7px;
    top: 60px;
    right: 0;
    white-space: nowrap;

    &--purple {
      background: #8a6aff;
    }

    &--blue {
      background: #0094ff;
    }

    &--green {
      background: #00c853;
    }
  }

  .job-apply-card {
    clear: both;
    background: #061526;
    border-radius: 8px;
    color: #fff;
    padding: 36px 40px;

    &__title {
      font-weight: 500;
      font-size: 36px;
      margin-bottom: 28px;
    }

    .wpcf7-form {
      width: 575px;
      padding: 7px 0 0;

      br {
        display: none;
      }

      span.wpcf7-form-control-wrap {
        padding-top: 3px;
        display: block;
        margin-bottom: 17px;
      }

      input.wpcf7-form-control:not(.wpcf7-submit) {
        width: 73%;
        border: 1px solid #0b2238;
        background: #081a2d;
        padding: 10px 30px;
        color: #fff;
        outline: 0;
        border-radius: 4px;
      }

      select.wpcf7-form-control {
        width: 100%;
        border: 1px solid #0b2238;
        background: #081a2d;
        padding: 12px 30px;
        color: #fff;
        outline: 0;
        border-radius: 4px;
      }

      textarea.wpcf7-form-control {
        resize: none;
        width: 100%;
        border: 1px solid #0b2238;
        background: #081a2d;
        padding: 12px 30px;
        color: #fff;
        outline: 0;
        border-radius: 4px;
        height: 145px;
      }

      input.wpcf7-submit {
        color: #fff;
        border: 1px solid #fff;
        border-radius: 4px;
        padding: 10px 50px 10px;
        position: relative;
        background: transparent;
        margin-top: 38px;
        display: block;
      }
    }
  }
}

.single-job-back {
  display: none;
}

@media screen and (max-width: 1199px) {
  .careers-hero {
    .container {
      width: auto;
      padding: 40px 15px 0;
    }

    &__title {
      font-size: 40px;
      line-height: 1.2;
      margin-bottom: 13px;
    }

    &__text {
      font-size: 18px;
      line-height: 1.55;
      font-weight: 400;
      width: auto;
      padding: 0 10px;
    }
  }

  .jobs-section {
    .container {
      width: auto;
      padding: 0 15px;
    }

    .jobs-list {
      padding-top: 29px;
    }

    .job-card {
      position: relative;
      padding-bottom: 93px;

      &__meta {
        position: absolute;
        left: 0;
        right: 0;
      }

      &__category {
        margin-bottom: 12px;
      }

      &__title {
        font-size: 20px;
        line-height: 1.35;
        margin-bottom: 4px;
        font-weight: 500;
      }

      &__applied {
        top: 8px;
        right: 5px;
        position: absolute;
      }

      &__apply {
        top: 119px;
        left: 0;
        right: auto;
      }
    }
  }

  .single-job-page {
    .container {
      width: auto;
      padding: 40px 15px 80px;
    }

    .single-job-grid {
      display: block;
      position: relative;
    }

    .single-job-content {
      width: auto;
      padding-top: 34px;
    }

    .single-job-title {
      font-size: 32px;
      line-height: 1.35;
      margin-bottom: 37px;
    }

    .single-job-body h2 {
      margin-bottom: 12px;
    }

    .single-job-grid .single-job-body ul,
    .single-job-grid .single-job-body p {
      margin-bottom: 22px;
    }

    .single-job-sidebar {
      width: auto;
    }

    .single-job-meta {
      position: static;
      height: auto;
    }

    .single-job-meta .single-job-applied {
      position: absolute;
      top: 6px;
      right: 1px;
    }

    .single-job-category {
      top: 0px;
      right: auto;
      left: 1px;
    }

    .job-apply-card {
      padding: 21px 21px;

      &__title {
        font-size: 24px;
        line-height: 1.35;
        margin-bottom: 13px;
      }

      .wpcf7-form {
        width: auto;

        label {
          font-size: 14px;
        }
      }
    }

    .job-apply-card .wpcf7-form span.wpcf7-form-control-wrap {
      margin-bottom: 12px;

      input.wpcf7-form-control:not(.wpcf7-submit) {
        padding: 12px 30px;
        width: 100%;
      }
    }
  }

  .job-apply-card .wpcf7-form input.wpcf7-submit {
    margin-top: 24px;
    padding: 10px 71px 10px;
  }
}
