.hero-section {
    position: relative;
    height: 753px;
    overflow: hidden;

    &__bg-img {
        position: absolute;
        width: 3024px;
        height: 1680px;
    }

    .container {
        color: #fff;
        position: relative;
        width: 1180px;
        margin: 0 auto;
        height: 100%;
        padding: 163px 0 0;
    }

    &__title {
        font-size: 64px;
        font-weight: 500;
        line-height: 1.3;
        margin-bottom: 35px;
    }

    &__text {
        width: 46%;
        font-size: 18px;
        line-height: 1.4;
        margin-bottom: 39px;
    }
    .btn--hero {
        display: flex;
        color: #fff;
        border-radius: 4px;
        padding: 11px 50px 11px 72px;
        position: relative;
        background: #0094ff;
        width: 197px;

        .btn__dot {
            display: none;
        }

        &:before {
            content: '';
            display: block;
            position: absolute;
            width: 7px;
            height: 7px;
            border-radius: 10px;
            background: #fff;
            top: 21px;
            left: 51px;
        }
    }
}

.services-section {
    padding: 58px 0 60px;

    .container {
        width: 1180px;
        margin: 0 auto;
        position: relative;
    }

    &__label {
        text-transform: uppercase;
        font-family: 'DM Sans';
        font-size: 14px;
        position: absolute;
        left: 0;
        top: 0;
        color: #000a18;
    }

    &__grid {
        display: flex;
        justify-content: space-between;
    }

    &__media {
        width: 480px;
        border-radius: 10px;
        min-height: 569px;
        display: flex;
        align-items: center;
    }

    &__image {
        display: none;

        &.is-active {
            display: block;
        }
    }

    .services-accordion {
        padding: 60px 0 0;

        &__item {
            margin-bottom: 31px;
        }

        &__header {
            display: flex;
            gap: 20px;
            cursor: pointer;
        }

        &__icon {
            background: #0094ff;
            width: 32px;
            height: 32px;
            display: flex;
            justify-content: center;
            align-items: center;

            svg {
                width: 20px;
                color: #fff;
                transform: rotate(-45deg);
            }
        }

        &__title {
            font-size: 24px;
            line-height: 1.4;
        }

        &__body {
            padding: 11px 0 0 52px;
            line-height: 1.5;
            width: 533px;
            display: none;
        }

        &__text {
            margin-bottom: 31px;
        }

        &__link {
            display: inline-block;
            position: relative;
            padding: 0px 0 0 27px;
            color: #000a18;
            font-weight: 500;

            &:before {
                content: '';
                display: block;
                position: absolute;
                width: 8px;
                height: 8px;
                border-radius: 10px;
                background: #0094ff;
                top: 8px;
                left: 4px;
            }
        }

        &__item {
            &.is-active {
                margin-bottom: 42px;

                .services-accordion__body {
                    display: block;
                }

                .services-accordion__icon svg {
                    transform: rotate(45deg);
                }
            }
        }
    }
}

.value-section {
    background: #061526;
    color: #fff;

    .container {
        width: 1180px;
        margin: 0 auto;
    }

    &__grid {
        display: flex;
        gap: 30px;
        margin-bottom: 71px;
    }

    &__content {
        padding: 99px 0 0;

        .btn--hero {
            display: flex;
            color: #fff;
            border-radius: 4px;
            padding: 11px 10px 11px 50px;
            position: relative;
            background: #0094ff;
            width: 197px;

            &:before {
                content: '';
                display: block;
                position: absolute;
                width: 8px;
                height: 8px;
                border-radius: 10px;
                background: #fff;
                top: 20px;
                left: 29px;
            }
        }
    }

    &__title {
        font-weight: 500;
        font-size: 56px;
        width: 475px;
        line-height: 1.3;
        margin-bottom: 25px;
    }

    &__text {
        font-size: 18px;
        width: 430px;
        line-height: 1.5;
        margin-bottom: 31px;
    }

    &__visual {
        padding-top: 78px;
        position: relative;
    }

    .value-laptop--placeholder img {
        position: absolute;
        width: 631px;
        max-width: none;
        top: 60px;
        left: 44px;
    }
}

.value-stats-card {
    width: 225px;
    background: #0094ff;
    color: #fff;
    padding: 19px 5px 21px 19px;
    line-height: 1.35;
    border-radius: 10px;

    &__text {
        margin-bottom: -3px;
    }

    &__number {
        font-size: 58px;
    }

    &__label {
        font-size: 20px;
        margin-top: -7px;
    }
}

.value-reports {
    &__label {
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 600;
        color: #495b75;
        margin-bottom: 37px;
    }

    &__tags {
        display: flex;
        flex-wrap: wrap;
        gap: 17px 20px;
        padding-bottom: 61px;
    }

    .report-tag {
        color: #fff;
        background: #112a40;
        font-size: 20px;
        padding: 4px 15px 4px 13px;
        border-radius: 5px;

        &.report-tag--icon {
            padding: 11px 14px 5px;
        }
    }
}

.case-studies-section {
    margin-bottom: 60px;

    .container {
        margin: 0 auto;
        width: 1180px;
        padding: 51px 0 0;
    }

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__title {
        font-size: 56px;
        font-weight: 500;
        padding-bottom: 30px;
    }

    &__link {
        display: inline-block;
        position: relative;
        padding: 0px 0 0 27px;
        color: #000a18;
        font-weight: 500;

        &:before {
            content: '';
            display: block;
            position: absolute;
            width: 8px;
            height: 8px;
            border-radius: 10px;
            background: #0094ff;
            top: 9px;
            left: 4px;
        }
    }
}

.case-studies-grid {
    display: flex;
    gap: 20px;
    padding: 4px 0 0;

    .case-card {
        padding: 20px 18px;
        background: #111c29;
        border-radius: 8px;
        box-sizing: border-box;
        color: #fff;
        position: relative;

        &__logo {
            margin-bottom: 51px;

            img {
                height: 30px;
            }
        }

        &__badge {
            position: absolute;
            top: 0;
            right: 0;

            &-text {
                position: relative;
                top: 0;
                color: #fff;
                border-radius: 4px;
                background: #00c853;
                font-size: 12px;
                right: 0;
                padding: 4px 8px 0px;
                z-index: 6;
                white-space: nowrap;
            }

            &-bg {
                &:after {
                    content: '';
                    position: absolute;
                    top: 0px;
                    left: -25px;
                    right: -13px;
                    bottom: -24px;
                    pointer-events: none;
                    background-repeat: no-repeat;
                    background-position:
                        top -4px left 0px,
                        bottom 0px right 10px;
                    background-size: auto;
                    background-image:
                        url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAPCAYAAADtc08vAAABY2lDQ1BrQ0dDb2xvclNwYWNlRGlzcGxheVAzAAAokX2QsUvDUBDGv1aloHUQHRwcMolDlJIKuji0FURxCFXB6pS+pqmQxkeSIgU3/4GC/4EKzm4Whzo6OAiik+jm5KTgouV5L4mkInqP435877vjOCA5bnBu9wOoO75bXMorm6UtJfWMBL0gDObxnK6vSv6uP+P9PvTeTstZv///jcGK6TGqn5QZxl0fSKjE+p7PJe8Tj7m0FHFLshXyieRyyOeBZ71YIL4mVljNqBC/EKvlHt3q4brdYNEOcvu06WysyTmUE1jEDjxw2DDQhAId2T/8s4G/gF1yN+FSn4UafOrJkSInmMTLcMAwA5VYQ4ZSk3eO7ncX3U+NtYMnYKEjhLiItZUOcDZHJ2vH2tQ8MDIEXLW54RqB1EeZrFaB11NguASM3lDPtlfNauH26Tww8CjE2ySQOgS6LSE+joToHlPzA3DpfAEDp2ITpJYOWwAAAARjSUNQDA0AAW4D4+8AAAA4ZVhJZk1NACoAAAAIAAGHaQAEAAAAAQAAABoAAAAAAAKgAgAEAAAAAQAAABCgAwAEAAAAAQAAAA8AAAAA9S1TmwAAAJdJREFUKBVj/Pnr938GCgATBXrBWik2gKWjdwpOR+jqaDJ4uzvjlAdJMHKKquINAzlZaYaoUH+GiuIcrAYRNACmy8bSlGHpvMkM/Hx8MCEwzczKLdyAIoKD8+jJM4ZXr98weHugeomkQFy2agPDkeOnUKwgyQCQTpAhyIBkA44cP42sn4FkAx49fkqZASi6gRySXTD4DAAA7CkhIQ42vvQAAAAASUVORK5CYII='),
                        url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAPCAYAAADtc08vAAABY2lDQ1BrQ0dDb2xvclNwYWNlRGlzcGxheVAzAAAokX2QsUvDUBDGv1aloHUQHRwcMolDlJIKuji0FURxCFXB6pS+pqmQxkeSIgU3/4GC/4EKzm4Whzo6OAiik+jm5KTgouV5L4mkInqP435877vjOCA5bnBu9wOoO75bXMorm6UtJfWMBL0gDObxnK6vSv6uP+P9PvTeTstZv///jcGK6TGqn5QZxl0fSKjE+p7PJe8Tj7m0FHFLshXyieRyyOeBZ71YIL4mVljNqBC/EKvlHt3q4brdYNEOcvu06WysyTmUE1jEDjxw2DDQhAId2T/8s4G/gF1yN+FSn4UafOrJkSInmMTLcMAwA5VYQ4ZSk3eO7ncX3U+NtYMnYKEjhLiItZUOcDZHJ2vH2tQ8MDIEXLW54RqB1EeZrFaB11NguASM3lDPtlfNauH26Tww8CjE2ySQOgS6LSE+joToHlPzA3DpfAEDp2ITpJYOWwAAAARjSUNQDA0AAW4D4+8AAAA4ZVhJZk1NACoAAAAIAAGHaQAEAAAAAQAAABoAAAAAAAKgAgAEAAAAAQAAABCgAwAEAAAAAQAAAA8AAAAA9S1TmwAAAJdJREFUKBVj/Pnr938GCgATBXrBWik2gKWjdwpOR+jqaDJ4uzvjlAdJMHKKquINAzlZaYaoUH+GiuIcrAYRNACmy8bSlGHpvMkM/Hx8MCEwzczKLdyAIoKD8+jJM4ZXr98weHugeomkQFy2agPDkeOnUKwgyQCQTpAhyIBkA44cP42sn4FkAx49fkqZASi6gRySXTD4DAAA7CkhIQ42vvQAAAAASUVORK5CYII=');
                }

                &:before {
                    content: '';
                    position: absolute;
                    top: -12px;
                    left: -12px;
                    right: -12px;
                    bottom: -12px;
                    background-color: #f9fafb;
                    z-index: 1;
                    border-radius: 6px;
                }
            }
        }

        &__content {
            margin-bottom: 41px;
        }

        &__text {
            line-height: 1.35;
        }

        &__link {
            display: inline-block;
            position: relative;
            padding: 0px 0 0 27px;
            color: #fff;
            font-weight: 500;
            margin-bottom: 12px;

            &:before {
                content: '';
                display: block;
                position: absolute;
                width: 8px;
                height: 8px;
                border-radius: 10px;
                background: #0094ff;
                top: 9px;
                left: 4px;
            }
        }
    }
}

.testimonials-section {
    background: #061526;

    .container {
        margin: 0 auto;
        width: 1180px;
        color: #fff;
        padding: 60px 0 62px;
    }

    .testimonial-card {
        padding: 0 20px 0 100px;
        position: relative;

        &__quote {
            width: 50px;
            position: absolute;
            left: 0;
            top: 9px;
        }

        &__text {
            font-size: 49px;
            line-height: 1.3;
            margin-bottom: 28px;
        }

        &__author {
            display: flex;
            flex-direction: column;
            font-size: 18px;
            margin-bottom: 18px;
        }

        &__logo img {
            height: 40px;
        }
    }

    .testimonial-footer {
        padding: 30px 0 0;
        text-align: right;
        font-size: 18px;
        font-family: 'Raleway';
    }
}

.comparison-section {
    .container {
        width: 1180px;
        margin: 0 auto;
        padding: 51px 0 60px;
    }

    &__title {
        font-size: 56px;
        font-weight: 500;
        margin: 0 0 36px;
    }

    .comparison-grid {
        border: 1px solid #d8e3eb;
        border-radius: 8px;
        padding: 33px 40px;

        &__header {
            display: flex;
            justify-content: space-between;
            text-align: center;
            align-items: center;
            font-size: 20px;
            margin-bottom: 42px;
        }

        &__cell--highlight {
            ~ div {
                padding: 4px 0 0;
                width: 185px;
                text-align: center;
            }
        }

        &__cell--label {
            width: 280px;
            text-align: left;
        }

        &__row {
            margin-bottom: 42px;
            display: flex;
            justify-content: space-between;
            text-align: center;
            align-items: center;
            font-size: 20px;

            svg {
                width: 25px;
            }
        }
    }

    .comparison-image {
        border: 1px solid #d8e3eb;
        border-radius: 8px;
    }
}

.blog-section {
    margin-bottom: 116px;

    .container {
        width: 1180px;
        margin: 0 auto;
        padding: 49px 0 0;
    }

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__title {
        font-size: 56px;
        font-weight: 500;
        margin: 0 0 30px;
    }

    &__link {
        display: inline-block;
        position: relative;
        padding: 0px 0 0 27px;
        color: #000a18;
        font-weight: 500;

        &:before {
            content: '';
            display: block;
            position: absolute;
            width: 8px;
            height: 8px;
            border-radius: 10px;
            background: #0094ff;
            top: 9px;
            left: 4px;
        }
    }

    .blog-grid {
        display: flex;
        padding-top: 3px;
        gap: 20px;
    }

    .blog-card__image.blog-card__image--placeholder {
        width: 100%;
        display: block;
        height: 200px;
        background: #eee;
        border-radius: 8px;
        margin-bottom: 17px;
    }

    .blog-card {
        width: 33.3334%;

        &__meta {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 17px;
        }

        &__category {
            background: #0094ff;
            border-radius: 4px;
            color: #fff;
            text-transform: uppercase;
            font-size: 12px;
            padding: 3px 14px 0;
        }

        &__date {
            font-size: 12px;
            text-transform: uppercase;
            color: #495b75;
        }

        &__title {
            font-size: 18px;
            line-height: 1.6;
            margin-bottom: 3px;

            a {
                color: #000a18;
            }
        }

        &__excerpt {
            line-height: 1.2;
            margin-bottom: 26px;
        }

        &__author {
            display: flex;
            gap: 12px;
            color: #000a18;

            &-avatar {
                width: 30px;
                height: 30px;
                overflow: hidden;
                border-radius: 30px;
            }
        }
    }
}

.our-partners {
    .container {
        width: 1180px;
        margin: 0 auto 70px;
    }

    &__title {
        font-size: 56px;
        font-weight: 500;
        line-height: 1.5;
        margin-bottom: 34px;
    }

    &__grid {
        display: flex;
        gap: 20px;
        color: #fff;
    }

    .partner-card {
        background: #061526;
        flex: 0 0 380px;
        border-radius: 10px;
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        &__logo {
            margin-bottom: 28px;
        }

        &__video {
            margin-bottom: 29px;
        }

        &__text {
            font-size: 18px;
            line-height: 1.5;
        }

        &__cta {
            display: inline-block;
            position: relative;
            padding: 0px 0 0 27px;
            color: #fff;
            font-weight: 500;
            font-size: 16px;
            margin: 21px 0 13px;

            &:before {
                content: '';
                display: block;
                position: absolute;
                width: 8px;
                height: 8px;
                border-radius: 10px;
                background: #0094ff;
                top: 8px;
                left: 4px;
            }
        }
    }
}

.faq-section {
    margin-bottom: 41px;

    .container {
        width: 1180px;
        margin: 0 auto;
        padding-top: 50px;
    }

    &__grid {
        display: flex;
        justify-content: space-between;
    }

    &__sidebar {
        width: 300px;
    }

    &__title {
        font-size: 56px;
        font-weight: 500;
        color: #000a18;
    }

    &__text {
        font-size: 18px;
        padding-top: 15px;
        margin-bottom: 27px;
    }

    &__cta {
        display: flex;
        color: #000a18;
        border: 1px solid #000a18;
        border-radius: 4px;
        padding: 10px 45px 10px 72px;
        position: relative;
        width: 197px;

        &:before {
            content: '';
            display: block;
            position: absolute;
            width: 7px;
            height: 7px;
            border-radius: 10px;
            background: #0094ff;
            top: 20px;
            left: 51px;
        }
    }

    .faq-list {
        width: 780px;
        padding: 9px 0 0;
    }

    .faq-item {
        border: 1px solid #d8e3eb;
        padding: 19px 19px 18px;
        position: relative;
        margin-bottom: 20px;
        border-radius: 4px;

        &__question {
            font-size: 20px;
        }

        &__header {
            cursor: pointer;
        }

        &__icon {
            position: absolute;
            right: 19px;
            top: 19px;
            background: #0094ff;
            width: 32px;
            height: 32px;
            color: #fff;
            display: flex;
            align-items: center;
            justify-content: center;

            svg {
                transform: rotate(-45deg);
                width: 22px;
            }
        }

        &__body {
            display: none;
            line-height: 1.5;
        }

        &.is-active {
            .faq-item__header {
                margin-bottom: 21px;
            }

            .faq-item__body {
                display: block;
            }

            .faq-item__icon svg {
                transform: rotate(45deg);
            }
        }
    }
}

.contact-form-section {
    background: #061526;

    .container {
        width: 1180px;
        margin: 0 auto;
        padding-top: 50px;
        padding-bottom: 28px;
    }

    &__grid {
        display: flex;
        justify-content: space-between;
        color: #fff;
    }

    &__content {
        width: 460px;
    }

    &__title {
        font-size: 56px;
        font-weight: 500;
        margin-bottom: 13px;
    }

    &__text {
        font-size: 18px;
        line-height: 1.5;
    }

    &__image {
        position: relative;

        img {
            position: absolute;
            top: -138px;
            left: -169px;
            min-width: 540px;
        }
    }

    &__form {
        width: 575px;
        padding: 7px 0 0;

        br {
            display: none;
        }

        span.wpcf7-form-control-wrap {
            padding-top: 3px;
            display: block;
            margin-bottom: 17px;
        }

        input.wpcf7-form-control:not(.wpcf7-submit) {
            width: 100%;
            border: 1px solid #0b2238;
            background: #081a2d;
            padding: 10px 30px;
            color: #fff;
            outline: 0;
            border-radius: 4px;
        }

        select.wpcf7-form-control {
            width: 100%;
            border: 1px solid #0b2238;
            background: #081a2d;
            padding: 12px 30px;
            color: #fff;
            outline: 0;
            border-radius: 4px;
        }

        textarea.wpcf7-form-control {
            resize: none;
            width: 100%;
            border: 1px solid #0b2238;
            background: #081a2d;
            padding: 12px 30px;
            color: #fff;
            outline: 0;
            border-radius: 4px;
            height: 145px;
        }

        input.wpcf7-submit {
            color: #fff;
            border: 1px solid #fff;
            border-radius: 4px;
            padding: 10px 50px 10px;
            position: relative;
            background: transparent;
            margin-top: 38px;
            display: block;
        }
    }
}
